---
import MainLayout from '../layouts/MainLayout.astro';
const name: string = 'Lautaro Llusa';
const title: string = 'Home';
---

<MainLayout title="Home">
  <h1>{name}</h1>
  <p>{title}</p>
  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real:</p>
  <script>
    const currentTime = document.querySelector(
      '#current-time'
    ) as HTMLParagraphElement;

    setInterval(() => {
      currentTime.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
    }, 1000);
  </script>
</MainLayout>
